[color]
	status = auto
	diff = auto
[core]
	excludesfile = /Users/krames/.gitignore
[user]
	name = Kyle Rames
	email = kyle@rames.org

[alias]
        wsfix = !git diff HEAD >P.diff && git reset --hard HEAD && git apply --index --whitespace=fix P.diff && rm -f P.diff
	wschk = !git diff --check HEAD
[url "git@github.com:"]
        insteadOf = https://github.com/
